    <%= render partial: "components/section_header_text" %>

    <%= render partial: "components/white_card_text" %>
    
    <section class="section two" id="careers">
  
      <h1 class="twotitle"><%= t :h1_title %></h1>
      <button class="twobutton"><%= t :btn_title %></button>

      <%= render partial: "components/card_list" %>

    <%= render partial: "components/card_list_mobil" %>

    </section>
